redis_data/
mysql_data/
.vscode
venv
env
*.sqlite3
.env.prod
mongo_data/
sample_lib/
symbols/*
.DS_Store
symbol_svgs
postgres_data
file_storage
node_modules
esim-cloud-backend/celerybeat-schedule
esim-cloud-backend/celerybeat.pid
esim-cloud-backend/celerybeat-schedule
esim-cloud-backend/celerybeat.pid
